Desafio_08/api_node_red_rodrigo.json
[{"id":"b5d08b1.a973a78","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"71c463eb.faddec","type":"function","z":"b5d08b1.a973a78","name":"","func":"msg.nlu_options = \n{\n    \"entity_model\":\"da5da0d6-5218-4ab8-a9ef-ad01c13631c1\",\n    \"relations_model\":\"da5da0d6-5218-4ab8-a9ef-ad01c13631c1\"    \n};\n\n\nmsg.payload = msg.req.body.text;\nreturn msg; \n    \n    \n/*\nif (msg.req.body.text.split(\" \").length > 1){\n    msg.payload = msg.req.body.text;\n    return msg; \n}    \nelse{\n    return null;\n}\n*/\n//msg.payload = msg.req.body.text;\n//msg.payload = msg.req.body.text.length;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":140,"wires":[["3eb0c0c4.fb97b"]]},{"id":"55794ad4.ebc684","type":"debug","z":"b5d08b1.a973a78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1570,"y":280,"wires":[]},{"id":"ce5641d6.089f","type":"natural-language-understanding","z":"b5d08b1.a973a78","name":"","categories":true,"limitcategories":"8","concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":true,"doc-sentiment-target":"","entity":true,"entity-emotion":false,"entity-sentiment":true,"maxentities":"50","keyword":false,"keyword-emotion":true,"keyword-sentiment":true,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":false,"semantic-keywords":true,"maxsemantics":"50","limittextcharacters":"0","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"service-endpoint":"","x":1080,"y":180,"wires":[["48527549.32259c"]]},{"id":"24b1acde.3332d4","type":"http response","z":"b5d08b1.a973a78","name":"","statusCode":"","headers":{},"x":1570,"y":80,"wires":[]},{"id":"357041fc.638d8e","type":"debug","z":"b5d08b1.a973a78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"transcription","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":520,"wires":[]},{"id":"592250eb.56bb2","type":"watson-speech-to-text","z":"b5d08b1.a973a78","name":"","alternatives":"1","speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"NarrowbandModel","bandhidden":"NarrowbandModel","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"si1j2293oAkIgiswV2UXGITS5rrUR0ejQzxyG3LCsE-T","payload-response":true,"streaming-mode":false,"streaming-mute":false,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/0d7b74da-4d43-4759-89ee-8fbad3ff599e","x":520,"y":420,"wires":[["357041fc.638d8e","3ae56245.fdc64e"]]},{"id":"938636a6.897298","type":"change","z":"b5d08b1.a973a78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":300,"wires":[["592250eb.56bb2"]]},{"id":"3ae56245.fdc64e","type":"function","z":"b5d08b1.a973a78","name":"","func":"msg.nlu_options = \n{\n    \"entity_model\":\"da5da0d6-5218-4ab8-a9ef-ad01c13631c1\",\n    \"relations_model\":\"da5da0d6-5218-4ab8-a9ef-ad01c13631c1\"    \n};\n\nmsg.payload = msg.transcription;\nreturn msg;    \n\n/*\nif (msg.transcription !== undefined) {\n    \n    msg.payload = msg.req.body.car + \" \" + msg.transcription;\n    return msg;    \n}\nelse\n{\n    return null;\n}\n*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":260,"wires":[["ce5641d6.089f"]]},{"id":"1be8480f.86cd18","type":"http in","z":"b5d08b1.a973a78","name":"","url":"/api/recommend","method":"post","upload":true,"swaggerDoc":"","x":120,"y":180,"wires":[["3a847232.fd4f7e","301b6596.19affa"]]},{"id":"3a847232.fd4f7e","type":"switch","z":"b5d08b1.a973a78","name":"","property":"payload.text","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":180,"wires":[["71c463eb.faddec"],["938636a6.897298"]]},{"id":"301b6596.19affa","type":"debug","z":"b5d08b1.a973a78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":210,"y":340,"wires":[]},{"id":"3eb0c0c4.fb97b","type":"switch","z":"b5d08b1.a973a78","name":"","property":"req.body.text","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":80,"wires":[["ce5641d6.089f"],["24b1acde.3332d4"]]},{"id":"48527549.32259c","type":"function","z":"b5d08b1.a973a78","name":"","func":"msg.payload = msg.features;\n\nvar flag_recomenda = 0;\n\nif (msg.payload.entities.length > 0){\n\n    for (var i=0; i<msg.features.entities.length; i++)\n    {\n        // verifica o sentimento da entidade\n        if (msg.features.entities[i].sentiment.label == \"negative\"){\n            \n            // Entra para recomendacao\n            flag_recomenda = 1;\n\n        }\n    }\n    \n    if (flag_recomenda == 1){\n        \n        // funcao de recomendacao\n        if (msg.req.body.car.toUpperCase() == \"TORO\" || msg.req.body.car.toUpperCase() == \"FIAT TORO\"){\n            msg.payload.recommendation = \"RENEGADE\";\n        }\n        else if (msg.req.body.car.toUpperCase() == \"DUCATO\" || msg.req.body.car.toUpperCase() == \"FIAT DUCATO\"){\n            msg.payload.recommendation = \"FIORINO\";\n        }     \n        else if (msg.req.body.car.toUpperCase() == \"FIORINO\" || msg.req.body.car.toUpperCase() == \"FIAT FIORINO\"){\n            msg.payload.recommendation = \"CRONOS\";\n        }     \n        else if (msg.req.body.car.toUpperCase() == \"CRONOS\" || msg.req.body.car.toUpperCase() == \"FIAT CRONOS\"){\n            msg.payload.recommendation = \"LINEA\";\n        }     \n        else if (msg.req.body.car.toUpperCase() == \"FIAT 500\"){\n            msg.payload.recommendation = \"LINEA\";\n        }     \n        else if (msg.req.body.car.toUpperCase() == \"MAREA\" || msg.req.body.car.toUpperCase() == \"FIAT MAREA\"){\n            msg.payload.recommendation = \"LINEA\";\n        }     \n        else if (msg.req.body.car.toUpperCase() == \"LINEA\" || msg.req.body.car.toUpperCase() == \"FIAT LINEA\"){\n            msg.payload.recommendation = \"CRONOS\";\n        }     \n        else if (msg.req.body.car.toUpperCase() == \"ARGO\" || msg.req.body.car.toUpperCase() == \"FIAT ARGO\"){\n            msg.payload.recommendation = \"CRONOS\";\n        }     \n        else if (msg.req.body.car.toUpperCase() == \"RENEGADE\" || msg.req.body.car.toUpperCase() == \"JEEP RENEGADE\"){\n            msg.payload.recommendation = \"CRONOS\";\n        }     \n        else\n            msg.payload.recommendation = \"\";\n    }\n\n}\nelse\n    msg.payload.recommendation = \"\";\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1380,"y":180,"wires":[["24b1acde.3332d4","55794ad4.ebc684"]]}]