Desafio_08/api_node_red_rodrigo_v2.json
[{"id":"b5d08b1.a973a78","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"71c463eb.faddec","type":"function","z":"b5d08b1.a973a78","name":"","func":"msg.nlu_options = \n{\n    \"entity_model\":\"76afe29e-f101-458a-b394-3c85477d095a\",\n    \"relations_model\":\"76afe29e-f101-458a-b394-3c85477d095a\"    \n};\n\n\nmsg.payload = msg.req.body.text;\nreturn msg; \n    \n    \n/*\nif (msg.req.body.text.split(\" \").length > 1){\n    msg.payload = msg.req.body.text;\n    return msg; \n}    \nelse{\n    return null;\n}\n*/\n//msg.payload = msg.req.body.text;\n//msg.payload = msg.req.body.text.length;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":80,"wires":[["3eb0c0c4.fb97b"]]},{"id":"55794ad4.ebc684","type":"debug","z":"b5d08b1.a973a78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1610,"y":400,"wires":[]},{"id":"ce5641d6.089f","type":"natural-language-understanding","z":"b5d08b1.a973a78","name":"","categories":false,"limitcategories":"8","concepts":false,"maxconcepts":"8","doc-emotion":false,"doc-emotion-target":"","doc-sentiment":false,"doc-sentiment-target":"","entity":true,"entity-emotion":false,"entity-sentiment":true,"maxentities":"9","keyword":false,"keyword-emotion":true,"keyword-sentiment":true,"maxkeywords":"50","metadata":false,"relation":false,"semantic":false,"semantic-entities":true,"semantic-keywords":false,"maxsemantics":"50","limittextcharacters":"0","syntax":false,"syntax-sentences":false,"syntax-tokens-lemma":false,"syntax-tokens-pos":false,"service-endpoint":"","x":1040,"y":260,"wires":[["48527549.32259c"]]},{"id":"24b1acde.3332d4","type":"http response","z":"b5d08b1.a973a78","name":"","statusCode":"","headers":{},"x":1610,"y":100,"wires":[]},{"id":"357041fc.638d8e","type":"debug","z":"b5d08b1.a973a78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"transcription","targetType":"msg","statusVal":"","statusType":"auto","x":710,"y":520,"wires":[]},{"id":"592250eb.56bb2","type":"watson-speech-to-text","z":"b5d08b1.a973a78","name":"","alternatives":"1","speakerlabels":false,"smartformatting":false,"lang":"pt-BR","langhidden":"pt-BR","langcustom":"NoCustomisationSetting","langcustomhidden":"","custom-weight":"0.5","band":"NarrowbandModel","bandhidden":"NarrowbandModel","keywords":"","keywords-threshold":"0.5","word-confidence":false,"password":"","apikey":"si1j2293oAkIgiswV2UXGITS5rrUR0ejQzxyG3LCsE-T","payload-response":true,"streaming-mode":false,"streaming-mute":false,"auto-connect":false,"discard-listening":false,"disable-precheck":false,"service-endpoint":"https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/0d7b74da-4d43-4759-89ee-8fbad3ff599e","x":520,"y":420,"wires":[["357041fc.638d8e","3ae56245.fdc64e"]]},{"id":"938636a6.897298","type":"change","z":"b5d08b1.a973a78","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"req.files[0].buffer","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":420,"y":300,"wires":[["592250eb.56bb2"]]},{"id":"3ae56245.fdc64e","type":"function","z":"b5d08b1.a973a78","name":"","func":"msg.nlu_options = \n{\n    \"entity_model\":\"76afe29e-f101-458a-b394-3c85477d095a\",\n    \"relations_model\":\"76afe29e-f101-458a-b394-3c85477d095a\"    \n};\n\nmsg.payload = msg.transcription;\nreturn msg;    \n\n/*\nif (msg.transcription !== undefined) {\n    \n    msg.payload = msg.req.body.car + \" \" + msg.transcription;\n    return msg;    \n}\nelse\n{\n    return null;\n}\n*/","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":260,"wires":[["ce5641d6.089f"]]},{"id":"1be8480f.86cd18","type":"http in","z":"b5d08b1.a973a78","name":"","url":"/api/recommend","method":"post","upload":true,"swaggerDoc":"","x":120,"y":180,"wires":[["3a847232.fd4f7e","301b6596.19affa"]]},{"id":"3a847232.fd4f7e","type":"switch","z":"b5d08b1.a973a78","name":"","property":"payload.text","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":180,"wires":[["71c463eb.faddec"],["938636a6.897298"]]},{"id":"301b6596.19affa","type":"debug","z":"b5d08b1.a973a78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":210,"y":340,"wires":[]},{"id":"3eb0c0c4.fb97b","type":"switch","z":"b5d08b1.a973a78","name":"","property":"req.body.text","propertyType":"msg","rules":[{"t":"nempty"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":850,"y":80,"wires":[["ce5641d6.089f"],["24b1acde.3332d4"]]},{"id":"48527549.32259c","type":"function","z":"b5d08b1.a973a78","name":"","func":"var flag_recomenda = 0;\nvar lista_negativos = [];\n\nfunction func_melhor_car(carro, entidade){\n    \n    if (carro == \"TORO\" || carro == \"FIAT TORO\"){\n        switch (entidade) {\n            case \"SEGURANCA\":return \"FIAT 500\";\n            case \"CONSUMO\":return \"CRONOS\";\n            case \"DESEMPENHO\":return \"LINEA\";\n            case \"MANUTENCAO\":return \"FIORINO\";\n            case \"CONFORTO\":return \"LINEA\";\n            case \"DESIGN\":return \"FIAT 500\";\n            case \"ACESSORIOS\":return \"LINEA\";\n            default:return \"\";\n        }\n    }\n    else if (carro == \"DUCATO\" || carro == \"FIAT DUCATO\"){\n        switch (entidade) {\n            case \"SEGURANCA\":return \"FIAT 500\";\n            case \"CONSUMO\":return \"CRONOS\";\n            case \"DESEMPENHO\":return \"LINEA\";\n            case \"MANUTENCAO\":return \"FIORINO\";\n            case \"CONFORTO\":return \"LINEA\";\n            case \"DESIGN\":return \"FIAT 500\";\n            case \"ACESSORIOS\":return \"TORO\";\n            default:return \"\";\n        }\n    }     \n    else if (carro == \"FIORINO\" || carro == \"FIAT FIORINO\"){\n        switch (entidade) {\n            case \"SEGURANCA\":return \"LINEA\";\n            case \"CONSUMO\":return \"CRONOS\";\n            case \"DESEMPENHO\":return \"LINEA\";\n            case \"MANUTENCAO\":return \"LINEA\";\n            case \"CONFORTO\":return \"LINEA\";\n            case \"DESIGN\":return \"FIAT 500\";\n            case \"ACESSORIOS\":return \"TORO\";\n            default:return \"\";\n        }\n    }     \n    else if (carro == \"CRONOS\" || carro == \"FIAT CRONOS\"){\n        switch (entidade) {\n            case \"SEGURANCA\":return \"FIAT 500\";\n            case \"CONSUMO\":return \"FIORINO\";\n            case \"DESEMPENHO\":return \"LINEA\";\n            case \"MANUTENCAO\":return \"FIORINO\";\n            case \"CONFORTO\":return \"LINEA\";\n            case \"DESIGN\":return \"FIAT 500\";\n            case \"ACESSORIOS\":return \"TORO\";\n            default:return \"\";\n        }\n    }     \n    else if (carro == \"FIAT 500\"){\n        switch (entidade) {\n            case \"SEGURANCA\":return \"LINEA\";\n            case \"CONSUMO\":return \"FIORINO\";\n            case \"DESEMPENHO\":return \"LINEA\";\n            case \"MANUTENCAO\":return \"FIORINO\";\n            case \"CONFORTO\":return \"LINEA\";\n            case \"DESIGN\":return \"CRONOS\";\n            case \"ACESSORIOS\":return \"TORO\";\n            default:return \"\";\n        }\n    }     \n    else if (carro == \"MAREA\" || carro == \"FIAT MAREA\"){\n        switch (entidade) {\n            case \"SEGURANCA\":return \"FIAT 500\";\n            case \"CONSUMO\":return \"FIORINO\";\n            case \"DESEMPENHO\":return \"LINEA\";\n            case \"MANUTENCAO\":return \"FIORINO\";\n            case \"CONFORTO\":return \"LINEA\";\n            case \"DESIGN\":return \"FIAT 500\";\n            case \"ACESSORIOS\":return \"TORO\";\n            default:return \"\";\n        }\n    }     \n    else if (carro == \"LINEA\" || carro == \"FIAT LINEA\"){\n        switch (entidade) {\n            case \"SEGURANCA\":return \"FIAT 500\";\n            case \"CONSUMO\":return \"FIORINO\";\n            case \"DESEMPENHO\":return \"MAREA\";\n            case \"MANUTENCAO\":return \"FIORINO\";\n            case \"CONFORTO\":return \"MAREA\";\n            case \"DESIGN\":return \"FIAT 500\";\n            case \"ACESSORIOS\":return \"TORO\";\n            default:return \"\";\n        }\n    }     \n    else if (carro == \"ARGO\" || carro == \"FIAT ARGO\"){\n        switch (entidade) {\n            case \"SEGURANCA\":return \"FIAT 500\";\n            case \"CONSUMO\":return \"FIORINO\";\n            case \"DESEMPENHO\":return \"LINEA\";\n            case \"MANUTENCAO\":return \"FIORINO\";\n            case \"CONFORTO\":return \"LINEA\";\n            case \"DESIGN\":return \"FIAT 500\";\n            case \"ACESSORIOS\":return \"TORO\";\n            default:return \"\";\n        }\n    }\n    else if (carro == \"RENEGADE\" || carro == \"JEEP RENEGADE\"){\n        switch (entidade) {\n            case \"SEGURANCA\":return \"FIAT 500\";\n            case \"CONSUMO\":return \"FIORINO\";\n            case \"DESEMPENHO\":return \"LINEA\";\n            case \"MANUTENCAO\":return \"FIORINO\";\n            case \"CONFORTO\":return \"LINEA\";\n            case \"DESIGN\":return \"FIAT 500\";\n            case \"ACESSORIOS\":return \"TORO\";\n            default:return \"\";\n        }\n    }\n}\n\n\nfunction func_prioridade(entidade)\n{\n    switch (entidade) {\n        case \"SEGURANCA\":return 1;\n        case \"CONSUMO\":return 2;\n        case \"DESEMPENHO\":return 3;\n        case \"MANUTENCAO\":return 4;\n        case \"CONFORTO\":return 5;\n        case \"DESIGN\":return 6;\n        case \"ACESSORIOS\":return 7;\n        default:return 99;\n    }\n}\n\n                        \nfunction func_pior_entidade(lista_negativos){\n    var min    = lista_negativos[0].score;\n\tvar pior   = lista_negativos[0].entidade;\n    var ordem  = func_prioridade(lista_negativos[0].entidade);\n    \n    for (var i=1; i<lista_negativos.length; i++){\n        \n        if (lista_negativos[i].score < min && (Math.abs(lista_negativos[i].score) - min) >= 0.1){\n            pior = lista_negativos[i].entidade;\n            min = lista_negativos[i].score;\n        }\n        \n        else if (lista_negativos[i].score == min){\n\t        \n\t        newOrdem = func_prioridade(lista_negativos[i].entidade);\n\t        \n\t        if (newOrdem < ordem){\n                pior = lista_negativos[i].entidade;\n                ordem = newOrdem;\n\t        }\n        }\n    }\n\n\treturn pior;\n}\n\nfunction func_recomenda(msg){\n\n    var car = \"\";\n    \n\tif (msg.payload.entities.length > 0){\n\t    for (var i=0; i<msg.features.entities.length; i++)\n\t    {\n\t        if (msg.features.entities[i].sentiment.label == \"negative\"){\n                lista_negativos.push({entidade:msg.features.entities[i].type,score:msg.features.entities[i].sentiment.score});\n\t            flag_recomenda = 1;\n\t        }\n\t    }\n\n\t    if (flag_recomenda == 1){\n\t    \tpior_ent = func_pior_entidade(lista_negativos);\n\t    \tcar = func_melhor_car(msg.req.body.car.toUpperCase(), pior_ent);\n\t    }\n\t}\n\n\treturn car;\n}\n\nmsg.payload = msg.features;\n\nmsg.payload.recommendation = func_recomenda(msg);\n\njson_saida = [];\n\nfor (var i=0; i<msg.payload.entities.length; i++){\n    json_saida.push(\n        {\n            entity:msg.features.entities[i].type,\n            sentiment:msg.features.entities[i].sentiment.score,\n            mention:msg.features.entities[i].text\n            \n        });\n}\n\nmsg.payload.entidades = json_saida;\n\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1260,"y":260,"wires":[["969dcb3e.08ab78","3b1624f0.b4d8ac"]]},{"id":"969dcb3e.08ab78","type":"change","z":"b5d08b1.a973a78","name":"","rules":[{"t":"delete","p":"payload.usage","pt":"msg"},{"t":"delete","p":"payload.language","pt":"msg"},{"t":"delete","p":"payload.entities","pt":"msg"},{"t":"move","p":"payload.entidades","pt":"msg","to":"payload.entities","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":1440,"y":260,"wires":[["55794ad4.ebc684","24b1acde.3332d4"]]},{"id":"3b1624f0.b4d8ac","type":"debug","z":"b5d08b1.a973a78","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1480,"y":600,"wires":[]}]